<h1>Air</h1>
<h3>includes:</h3>
<p>at the moment links dont work, pending fix</p>
<a href="http://localhost:3000/air/Aquarius"><h2>Aquarius</h2></a>
<a href="http://localhost:3000/air/Gemini"><h2>Gemini</h2></a>
<a href="http://localhost:3000/air/Libra"><h2>Libra</h2></a>
<ul>
    <li>movement</li>
    <li>creativity</li>
    <li>action</li>
    <li>adventure</li>
    <li>exciting</li>
    <li>easily provoked</li>
</ul>