<h1>Earth</h1>
<h3>Includes: </h3>
<p>at the moment links dont work, pending fix</p>
<a href="http://localhost:3000/earth/taurus"><h2>Taurus</h2></a>
<a href="http://localhost:3000/earth/virgo"><h2>Virgo</h2></a>
<a href="http://localhost:3000/earth/capricorn"><h2>Capricorn</h2></a>
<h3>Traits</h3>
<ul>
    <li>Grounded</li>
    <li>helpful</li>
    <li>practical</li>
    <li>realistic</li>
    <li>materialitic</li>
    <li>dependable</li>
</ul>