<h1>Fire</h1>
<h3>Include: </h3>
<p>at the moment links dont work, pending fix</p>
<a href="http://localhost:3000/fire/aries"><h2>Aries</h2></a>
<a href="http://localhost:3000/fire/leo"><h2>Leo</h2></a>
<a href="http://localhost:3000/fire/sagittarius"><h2>Sagittarius</h2></a>
<h3>Traits: </h3>
<ul>
    <li>passionate</li>
    <li>strong emotions</li>
    <li>temperamental</li>
    <li>energetic</li>
    <li>accomplished</li>
    <li>interesting</li>
</ul>