<h1>Water</h1>
<h3>includes: </h3>
<p>at the moment links dont work, pending fix</p>
<a href="http://localhost:3000/water/piscus"><h2>Piscus</h2></a>
<a href="http://localhost:3000/water/cancer"><h2>cancer</h2></a>
<a href="http://localhost:3000/water/scorpio"><h2>Scorpio</h2></a>
<h3>Traits: </h3>
<ul>
<li>private</li>
<li>mysterious</li>
<li>pyshic</li>
<li>charming</li>
<li>emotional</li>
<li>sensitive</li>
</ul>